details{
    margin:30px;
summary{
    cursor: pointer;
    font-size: 45px;
    >h2{
        color:rgb(49, 11, 11);
        padding:30px;
        margin:20px;
    }
    >img{
        margin: 20px;
        padding:30px;
}}}
