.egreso{
    display: inline center;
    margin: 10px ;
    width: 100%;
    padding: 3px;
    font-size: 30px;
    text-align:center;
    border: 10px;
}
.egreso__vista{
    display: inline;
    width: 100%;
    margin: 10px;
    padding: 50px;
    text-align:center;
    }
.egreso__valor{
        display: inline;
    }
.egreso__porcentaje{
display: inline;
margin: 30px
}
