.error{
    background-color: rgba(186, 244, 61, 0.714);
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400;
    margin: 0 auto;
    color: red;
    //color: rgba(142, 8, 8, 0.578);
}
