.formulario{  /*form consulta*/
    background-color: #a8ade6;
    max-width: 900px;
    margin: 20px auto;
    border-radius: 30px;
    color: white;
    padding:30px;
    margin-bottom: 10px;
    gap: 10px;
    display: grid;
    height: 600px;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr auto;
    grid-template-areas: "titulo   titulo"
                         "nomApell email"
                         "tel      asunto"
                         "mensaje mensaje"
                         "button  button";
}

@media(max-width: 800px){
    .formulario2{
        width: 100%;
        margin: 20px 0px;
        border-radius: 0px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr auto;
        grid-template-areas: "titulo"
                             "nomApell"
                             "email"
                             "tel"      
                             "asunto"
                             "mensaje"
                             "button";
   }}
 
.formulario2 h2{
    grid-area: titulo;
}
.formulario2 label:nth-child(2){
    grid-area: nomApell;
}
.formulario2 label:nth-child(3){
    grid-area: email;
}
.formulario2 label:nth-child(4){
    grid-area: tel;
}
.formulario2 label:nth-child(5){
    grid-area: asunto;
}
.formulario2 label:nth-child(6){
    grid-area: mensaje;
}
.formulario2 button:nth-child(7){ /*este es el boton para def prop*/
    grid-area: button;
    width: 200px;
    border-radius: 4px;
    font-size: 20px;
    color: blue;
}
.formulario2 label{
    display:flex;
    flex-direction: column;
}

.formulario label input , .formulario label textarea {
    background-color: transparent;  /*elimina el color de la casilla*/
    border: 0;   /*elimina el borde de la casilla*/
    border-bottom: 1px solid white;  /*hace solo la linea abajo*/
    margin-top: 10px;   /*separa arriba*/
    outline: none;
    color: white;
}



/*formulario inicio*/
.fdatos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(51, 51, 51, 0.521);
    margin: 50px auto;
    border: 20px solid #000;
    border-radius: 15px;
    outline: 5px solid #094;
    width: 50%;
    flex: 1;
    padding: 30px;
    font-size: 35px;

     >fieldset{
        display:flex;
        justify-content:column;
        width: 100%;
        background-color:#050;
        
     }}
        
.fdatos_input{
    width: 60px;
    padding: 10px;
    margin: 6px;
    border: 10px;
    border-bottom: 10px solid #1c7;
    background: transparent;
    color: #fff;
   }
.fdatos >textarea{
    height: 240px;
    resize: none;
}
