.fondoindex {
  width: 100%;
  background-image: url("/img/concrete1.jpg");
  z-index: -5;
  .index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: auto;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    .contenedor {
      display: grid;
      grid-template-columns: repeat(1, 1);
      gap: 10px;
      .saludo {
        color: black;
        width: auto;
        display: grid;
        align-items: center;
        margin: 30px;
      }
      .acceder {
        color: black;
        display: grid;
        background: url("/img/fondoapp1.jpg");
        width: auto;
        cursor: pointer;
        border: none;
        padding: 16px 32px;
        margin: 30px;
        font-size: 60px;
        font-weight: bold;
        position: relative;
        border-radius: 12px;
        align-items: center;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          background: linear-gradient( 45deg, red, blue, deeppink, blue, black, 
                                              red, blue, deeppink, blue, black);
          background-size: 800%;
          border-radius: 10px;
          filter: blur(15px);
          animation: glowing 20s linear infinite;
        }
        @keyframes glowing {
          0% {
            background-position: 0 0;
          }
          50% {
            background-position: 500% 0;
          }
          100% {
            background-position: 0 0;
                }
                            }
                  }
      .registro {
        background: none;
        color: #f2f2f2;
        cursor: pointer;
        display: grid;
        width: auto;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        align-items: center;
        border: none 3px;
        padding: 30px;
        margin: 30px;
        text-align: center;
        >a {
          position: relative;
          z-index: 2;
          transition: 0.3s ease all;
        }
        >svg {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          fill: none;
          >rect {
            width: 100%;
            height: 100%;
            stroke: black;
            stroke-width: 10px;
            stroke-dasharray: 1500;
            stroke-dashoffset: 1500;
            transition: 0.5s ease all;
          }
          &:hover rect {
            stroke-dashoffset: 0;
                       }
                }
              }
                  }
        }
}
