.listashtml{
       color:rgb(61, 62, 62);
       text-align: center;
       padding: 50px;
       text-transform: uppercase;
       font-weight: bold;
       max-width: 400;
       margin: 0 auto;
       //color: white;
}

