.logo {
    background-image: url("/img/basLogo.jpg");
    background-size:cover;    
    width: 160px;
    height: 60px;
    display:flex;
    justify-content: left;
    padding:30px;
    padding-top:5px;  
    margin:10px;
   
        }

